
h1:nth-last-child(20){
    background-color: green;
}
h1:nth-last-child(15){
    background-color: green;
}

div:nth-child(12) h1:nth-of-type(4){
    background-color: pink;
}

h1:nth-child(16) {
    background-color: yellow; 
}
  
section p:nth-child(2){
    background-color: rgb(230, 83, 193);
}

header div span:nth-of-type(2) h1:nth-of-type(2) {
    background-color: red;
}
h1:nth-child(19){
    background-color: rgb(189, 11, 11);
}
h1:nth-child(24){
    background-color: rgb(189, 11, 11);
}
h1:nth-child(2) span:nth-child(2) {
    color: rgb(160, 28, 125);
}
section +span h1:nth-child(3){
    background-color: grey;
}
section > h1:nth-of-type(2) {
    background-color: yellow;
  }

